body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #222;
    padding-top: 60px;
    display: none;
    flex-direction: column;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #f39c12;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

.container {
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
}

.profile-pic img {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    border-radius: 50%; /* To make it circular */
    border: 3px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

.profile-pic img:hover {
    transform: scale(1.1);
}

.info {
    margin-top: 20px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    margin-bottom: 15px;
    color: #f39c12;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    background-color: #444;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

a {
    color: #f39c12;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
    background-color: #f39c12;
    color: #111;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #f39c12;
    }
    50% {
        box-shadow: 0 0 20px #f39c12;
    }
    100% {
        box-shadow: 0 0 5px #f39c12;
    }
}

#ip-list li {
    animation: fadeIn 1s ease-in-out, glow 1.5s infinite alternate;
}
