body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #222;
    padding-top: 60px;
    display: none;
    flex-direction: column;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #f39c12;
    display: block;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #444;
}

.container {
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    animation: fadeIn 2s ease-in-out;
}

.profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
    animation: glow 2s infinite alternate, rotate 4s linear infinite;
}

.profile-pic img:hover {
    transform: scale(1.1);
    animation: none;
}

.info {
    margin-top: 20px;
    background-color: #333;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #eee;
}

.info h2 {
    margin-bottom: 15px;
    color: #f39c12;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.info p {
    color: #ddd;
}

h1#username {
    color: #f39c12;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 30px rgba(0, 0, 255, 0.9);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
